# logging
# glog = get log
snippet glog
	import logging

	logging.basicConfig(format="%(threadName)s %(asctime)s %(levelname)s line %(lineno)s : %(message)s", datefmt="%Y-%m-%d %H:%M:%S", level=logging.INFO)

	LOGGER = logging.getLogger(${0:__name__})
